/Dataset
/notebooks
/models
/.idea
/.Grafovi.ods
/lumenback/.idea
/lumenback/models
/lumenback/api/main.py
/lumenback/api/__pycache__
/lumenback/api/__pycache__/*
/lumenback/api/migrations/__pycache__
/lumenback/lumenweb/__pycache__
/lumenback/schema.yml
/lumenfront/package-lock.json
/lumenfront/node_modules
/.ipynb_checkpoints/
/mp3_2_wav.py
/preds*